<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel = "icon" href="{{ url_for('static', filename = 'img/JP.icon') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block titulo %}{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename = 'css/estilos.css') }}">

    <link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <script src="https://kit.fontawesome.com/62ea397d3a.js" crossorigin="anonymous"></script>
</head>
<body>
    {% block body %}
    {% endblock %}

    {% block seccion1 %}
    {% endblock %}
    
    {% block seccion2 %}
    {% endblock %}
    <hr>
    {% block footer %}
    {% endblock %}
</body>
</html>